:root {
  --main-marine-blue: hsl(213, 96%, 18%);
  --main-purplish-blue:hsl(243, 100%, 62%);
  --main-pastel-blue:hsl(228, 100%, 84%);
  --main-light-blue:hsl(206, 94%, 87%);
  --main--strawberry-red:hsl(354, 84%, 57%);

  --neutral-cool-gray:hsl(231, 11%, 63%);
  --neutral-light-gray:hsl(229, 24%, 87%);
  --neutral-magnolia:hsl(231, 100%, 99%);
  --neutral-white:hsl(0, 0%, 100%);
}

.plan__card {
  height: 85%;
  width: 100%;
  background-color: var(--neutral-light-gray);
  display: flex;
  justify-content: center;
}

.plan__card__plan {
  height: 118%;
  width: 90%;
  padding: 0 24px;
  background-color: var(--neutral-magnolia);
  border-radius: 15px;
  transform: translate(0, -90px);
}

.plan__card__title {
  text-align: left;
  margin: 16px 0;
  color: var(--main-marine-blue);
  font-weight: 700;
}

.plan__card__description {
  text-align: left;
  margin-bottom: 20px;
  color: var(--neutral-cool-gray);
  font-size: 18px;
  line-height: 130%;
}

.plan__card__description--desktop {
  text-align: left;
  margin-bottom: 20px;
  color: var(--neutral-cool-gray);
  font-size: 18px;
  line-height: 130%;
  display: none;
}

.plan__options--container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plan {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border:solid 1px var(--neutral-light-gray);
  border-radius: 8px;
  cursor: pointer;
}

.plan__time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
  background-color: var(--neutral-light-gray);
  border-radius: 8px;
}

.plan__image {
  width: 40px;
  height: 40px;
  margin: 0 14px;
  padding: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

.plan__information--container {
  text-align: left;
}

.plan__name {
  font-size: 18px;
  color: var(--main-marine-blue);
  font-weight: 500;
}

.plan__price {
  font-size: 16px;
  color: var(--neutral-cool-gray);
}

.plann__discount {
  font-size: 14px;
  color: var(--main-marine-blue);
}

.arcade .plan__image {
  background-image: url(../../assets/images/icon-arcade.svg);
}

.advanced .plan__image {
  background-image: url(../../assets/images/icon-advanced.svg);
}

.pro .plan__image {
  background-image: url(../../assets/images/icon-pro.svg);
}

.toggle__input {
  display: none;
}

.plan__time--switcher {
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toggle__fill {
  display: inline-block;
  width: 34px;
  height: 17px;
  background-color: var(--main-marine-blue);
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

.toggle__fill::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 100px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: .2s;
}

#switch:checked + .toggle__fill::after{
  left: 20px;
}

.plan__monthly, .plan__yearly {
  width: 60px;
  height: 23px;
  font-size: 16px;
  font-weight: 300;
  color: var(--neutral-cool-gray);
}

.plan__selected {
  width: 60px;
  height: 23px;
  font-size: 16px;
  font-weight: 500;
  color:var(--main-marine-blue);
}

.chosen {
  border: solid 2px var(--main-purplish-blue);
  background-color: var(--neutral-light-gray);
}

@media (min-width: 700px) {
  .plan__card  {
    background-color: var(--neutral-white);
  }
  .plan__card__plan {
    height: 90%;
    width: 100%;
    padding: 60px 90px 20px 90px;
    background-color: var(--neutral-white);
    transform: translate(0, 0);
  }
  .plan__card__description {
    display: none;
  }
  .plan__card__description--desktop {
    display: block;
  }
  .plan__options--container {
    flex-direction: row;
    height: 50%;
    justify-content: space-between;
  }
  .plan {
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 30%;
  }
  .plan__image {
    margin:14px;
    width: 50px;
    height: 50px;
  }
  .plan__information--container {
    margin:30px 0 0 20px ;
  }
  .plan__time {
    margin-top: 40px;
  }
}