.card__bg {
  height: 100%;
  width: 100%;
  background-color: var(--neutral-light-gray);
  display: flex;
  justify-content: center;
}

.thankyou__image {
  height: 15%;
}

.card__title {
  text-align: left;
  margin: 16px 0;
  color:var(--main-marine-blue)
}

.card__description {
  text-align: center;
  color: var(--neutral-cool-gray);
  font-size: 18px;
  line-height: 130%;
}

.card__thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  padding: 0 24px;
  background-color: var(--neutral-magnolia);
  border-radius: 15px;
  transform: translate(0, -90px);
}

@media (min-width: 700px) {
  .card__thankyou {
    transform: translate(0,0);
    background-color: var(--neutral-white);
  }
  .card__bg {
    background-color: var(--neutral-white);
  }
}