:root {
  --main-marine-blue: hsl(213, 96%, 18%);
  --main-purplish-blue:hsl(243, 100%, 62%);
  --main-pastel-blue:hsl(228, 100%, 84%);
  --main-light-blue:hsl(206, 94%, 87%);
  --main--strawberry-red:hsl(354, 84%, 57%);

  --neutral-cool-gray:hsl(231, 11%, 63%);
  --neutral-light-gray:hsl(229, 24%, 87%);
  --neutral-magnolia:hsl(231, 100%, 99%);
  --neutral-white:hsl(0, 0%, 100%);
}

.addons__card {
  height: 85%;
  width: 100%;
  background-color: var(--neutral-light-gray);
  display: flex;
  justify-content: center;
}

.card__title {
  text-align: left;
  margin: 16px 0;
  color:var(--main-marine-blue)
}

.addons__card__description {
  text-align: left;
  color: var(--neutral-cool-gray);
  font-size: 18px;
  line-height: 130%;
}

.addons__card__description--desktop {
  text-align: left;
  color: var(--neutral-cool-gray);
  font-size: 18px;
  line-height: 130%;
  display: none;
}

.addons__card__adds {
  height: 90%;
  width: 90%;
  padding: 0 24px;
  background-color: var(--neutral-magnolia);
  border-radius: 15px;
  transform: translate(0, -90px);
}

.container__adds {
  height: 50%;
  width: 100%;
  padding: 0;
  transform: translate(0, -0px);
}

.addons {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  border: solid 2px var(--neutral-light-gray);
}

.add__input {
  height: 20px;
  width: 10%;
  margin: 10px;
}

.add--container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.add__subtitle {
  font-size: 14px;
  color: var(--main-marine-blue);
  font-weight: 700;
}

.add__description {
  font-size: 11px;
  color: var(--neutral-cool-gray);
}

.add__price {
  width: 15%;
  font-size: 12px;
  margin-right: 15px;
  color:var(--main-purplish-blue);
}

@media (min-width: 700px) {
  .addons__card  {
    background-color: var(--neutral-white);
  }
  .addons__card__adds {
    width: 100%;
    transform: translate(0, 0);
    padding:70px 90px 0 90px;
  }
  .addons__card__description {
    display: none;
  }
  .addons__card__description--desktop {
    display: block;
  }
  .container__adds {
    margin-top: 40px;
  }
  .addons {
    margin-bottom: 20px;
  }
  .add__description {
    margin-top: 4px;
  }
}