:root {
  --main-marine-blue: hsl(213, 96%, 18%);
  --main-purplish-blue:hsl(243, 100%, 62%);
  --main-pastel-blue:hsl(228, 100%, 84%);
  --main-light-blue:hsl(206, 94%, 87%);
  --main--strawberry-red:hsl(354, 84%, 57%);

  --neutral-cool-gray:hsl(231, 11%, 63%);
  --neutral-light-gray:hsl(229, 24%, 87%);
  --neutral-magnolia:hsl(231, 100%, 99%);
  --neutral-white:hsl(0, 0%, 100%);
}

.card {
  height: 85%;
  width: 100%;
  background-color: var(--neutral-light-gray);
  display: flex;
  justify-content: center;
}

.card__title {
  text-align: left;
  margin: 16px 0;
  color:var(--main-marine-blue)
}
.card__description {
  text-align: left;
  color: var(--neutral-cool-gray);
  font-size: 18px;
  line-height: 130%;
}

.card__finishingup {
  height: 90%;
  width: 90%;
  padding: 0 24px;
  background-color: var(--neutral-magnolia);
  border-radius: 15px;
  transform: translate(0, -90px);
}

.summary--container {
  height: 60%;
  width: 100%;
}

.summary {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  padding: 0 10px;
  background-color: var(--neutral-light-gray);
  border-radius: 12px;
}

.summary__plan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__plan {
  padding-bottom: 10px;
  border-bottom: solid 2px var(--neutral-cool-gray);
}

.summary__plan--container {
  text-align: start;
}

.summary__price {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-marine-blue);
}

.summary__name {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-marine-blue);
}
.summary__change {
  font-size: 14px;
  text-decoration: underline;
  color: var(--neutral-cool-gray);
  cursor: pointer;
}

.summary__price {
  font-size: 14px;
  color: var(--main-marine-blue);
}


.summary__adds {
  width: 100%;
}

.subtitle--container {
  display: flex;
  justify-content: space-between;
}

.summary__subtitle {
  font-size: 16px;
  color: var(--neutral-cool-gray);
}

.summary__total {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;

}


.total__description {
  font-size: 16px;
  color: var(--neutral-cool-gray);
}

.total__price {
  font-size:16px;
  font-weight: 700;
  color:var(--main-purplish-blue)
}


