:root {
  --main-marine-blue: hsl(213, 96%, 18%);
  --main-purplish-blue:hsl(243, 100%, 62%);
  --main-pastel-blue:hsl(228, 100%, 84%);
  --main-light-blue:hsl(206, 94%, 87%);
  --main--strawberry-red:hsl(354, 84%, 57%);

  --neutral-cool-gray:hsl(231, 11%, 63%);
  --neutral-light-gray:hsl(229, 24%, 87%);
  --neutral-magnolia:hsl(231, 100%, 99%);
  --neutral-white:hsl(0, 0%, 100%);
}


.header {
  width: 100%;
  /* height: 165px; */
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../../assets/bg-sidebar-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__steps {
  display: flex;
  margin: 30px;


}
.step {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  color: white;
  border-radius: 50%;
  border: solid 1px white;
  display: grid;
  align-items: center;
}

.step--current {
  background-color: var(--main-light-blue);
  color: var(--main-marine-blue);

}