.header {
  width: 100%;
  /* height: 165px; */
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../../assets/bg-sidebar-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__steps {
  display: flex;
  margin: 30px;


}
.step {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  color: white;
  border-radius: 50%;
  border: solid 1px white;
  display: grid;
  align-items: center;

}