:root {
  --main-marine-blue: hsl(213, 96%, 18%);
  --main-purplish-blue:hsl(243, 100%, 62%);
  --main-pastel-blue:hsl(228, 100%, 84%);
  --main-light-blue:hsl(206, 94%, 87%);
  --main--strawberry-red:hsl(354, 84%, 57%);

  --neutral-cool-gray:hsl(231, 11%, 63%);
  --neutral-light-gray:hsl(229, 24%, 87%);
  --neutral-magnolia:hsl(231, 100%, 99%);
  --neutral-white:hsl(0, 0%, 100%);
}


.footer {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--neutral-magnolia);
}

.button--next {
  height: 40px;
  width: 110px;
  font-weight: 700;
  border-radius: 8px;
  color: var(--neutral-light-gray);
  background-color: var(--main-marine-blue);
  border: none;
  cursor: pointer;
}

.button--back {
  height: 40px;
  width: 110px;
  font-weight: 700;
  border-radius: 8px;
  color: var(--neutral-cool-gray);
  background-color: var(--neutral-magnolia);
  border: none;
  cursor: pointer;
}

.button--back:hover {
  color: var(--main-marine-blue);
}